<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleDoc.css') }}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logoo.ico') }}">
  <title>ToiT</title> 
  <style type="text/css"> 
   /* General body styling */
   
  </style> 
</head> 
<body> 
  <!-- Header with logo, navigation, and cart icon -->
  {% include "header.html" %}

  <!-- Main content area with logo and descriptions -->
  <div id="main"> 
    <!-- Content Boxes -->
    <div class="content-boxes">
      <!-- Box 1 -->
      <div class="box">
        <p class='centered-text'><h2>Documentation</h2></p>
        <h3>1) Menu Generator Inputs</h3>
        <p>To use the menu generator you have to be <a href="/signup">registered</a>. Menu generator is available <a href="/generator">here</a>. There you will be able to choose the store, minimum and maximum nutrients, specify taste for foods or food groups,
          choose how much you want to prioritize price over taste or the other way around.
          To rate foods give them ratings from 1 to 10, you can also give a rating for a food group, this will 
          set the rating to all related foods that haven't been rated yet. Finally click "Compute" (It might take a second).
        </p>
        <h3>2) Menu Generator Results</h3>
        <p>After entering the inputs and clicking "Compute" you should see a list of optimal items and a list of  all the other items.
          The optimal results will have a set amount of grams you should pick, however you can change these values.
          After you add the item to your cart the results will be recalculated. You can view all the items in your cart by clicking the cart icon on the top right.
          There you will be able to remove items from the cart and return to the results page. If you wish to restart the process just visit the menu generator <a href="/generator">here</a> by opening the Menu Generator section.
        </p>
        <h3>3) Registration</h3>
        <p>For the sake of keeping your food preferences saved you have to be <a href="/signup">registered</a> to use our services.
        Enter a unique username, unique email and a strong password. This information will not be visible to other people.
        After registering you need to log in. To view your profile click on the top right profile image icon, there you will be
        able to log out, delete account and change your profile picture.
        </p>
      </div>
    </div>
  </div> 

  <!-- Footer with copyright info -->
  <div class="footer">&copy; MenuGen<br>Version 1.0</div>
</body> 
</html>
